h1,
p,
a,
button,
input,
textarea,
div {
  margin: 0;
  padding: 0;
  font-family: Rethink Sans;
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: rgba(255, 255, 255, 1);
}

main {
  display: grid;
  justify-content: center;
  margin-inline: 2rem;
}

section {
  max-width: 80rem;
}

/* THIS IS FOR THE NAVIGATION BAR STYLING */
header {
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 0.031rem solid rgba(232, 237, 242, 1);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 80rem;
  gap: 5rem;
  margin-block: 1rem;
  margin-inline: 2rem;
}

.header-first-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.875rem;
}

.talent-apply-logo {
  margin-inline-end: auto;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: auto;
  list-style: none;
  gap: 1.5rem;
  background-color: white;
  padding: 0.313rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.938rem rgba(27, 32, 32, 0.05);
}

nav ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  padding-inline: 1rem;
  padding-block: 0.625rem;
  border-radius: 0.375rem;
  color: rgba(103, 115, 126, 1);
  font-size: 0.75rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out
}

.home-trigger:hover,
.product-trigger:hover,
.about-trigger:hover,
.pricing-trigger:hover {
  color: rgb(144, 154, 163);
}

.product-trigger:hover .product-menu {
  display: block;
}

.product-trigger:hover .chevron-bottom {
  transform: rotate(-180deg);
  transition: all 0.3s ease-in-out;
}

.menu-container {
  display: none;
  margin-block-start: 0.3rem;
}

.talent-apply-logo {
  padding-block-start: 0.4rem;
}

/* PRODUCT MENU DROPDOWN MENU */
.product-menu {
  display: none;
}

.product-menu-container {
  position: absolute;
  display: flex;
  align-items: start;
  gap: 3rem;
  top: 4rem;
  left: 20rem;
  background-color: white;
  padding: 1.5rem 1.5rem;
  box-shadow: 0 0.313rem 0.938rem rgba(27, 32, 32, 0.1);
  border-radius: 1rem;
}

.product-menu-main {
  display: grid;
  gap: 1.5rem;
}

.menu-selection {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 1rem 1rem;
  cursor: pointer;
  transition: all;
}

.menu-selection:hover {
  background-color: rgba(9, 103, 210, 0.1);
  border-radius: 0.5rem;
}

.menu-header {
  color: rgba(8, 18, 29, 1);
  margin-block-end: 0.25rem;
}

.menu-body {
  font-size: 0.75rem;
  color: rgba(103, 115, 126, 1);
}

/* THIS IS THE BUTTON SECTION */
.header-second-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.outline-button-w-icon {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
  border-radius: 0.75rem;
  color: rgba(9, 103, 210, 1);
  background-color: transparent;
  border: 0.031rem solid rgba(9, 103, 210, 1);
  padding: 0.9rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.outline-button-w-icon:hover {
  background-color: rgba(9, 103, 210, 0.1);
}

.plain-button {
  color: rgba(9, 103, 210, 1);
  background-color: transparent;
  border: 0 solid;
  padding: 0.9rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.plain-button:hover {
  color: rgba(9, 73, 146, 2);
}

.filled-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.75rem;
  color: white;
  background-color: rgba(9, 103, 210, 1);
  border: 0.031rem solid rgba(9, 103, 210, 1);
  padding: 1.2rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hero-header-buttons {
  display: flex;
  justify-content: center;
}

.filled-button:hover {
  background-color: rgba(9, 103, 210, 0.8);
}

.outline-button-black {
  color: rgba(8, 18, 29, 1);
  background-color: transparent;
  border: 0.031rem solid rgba(8, 18, 29, 1);
  padding: 0.9rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.outline-button-black:hover {
  background-color: rgba(9, 103, 210, 0.1);
}

.outline-button-white {
  color: white;
  background-color: transparent;
  border: 0.031rem solid white;
  padding: 0.9rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.outline-button-white:hover {
  background-color: rgba(146, 187, 233, 0.1);
}

/* SIXTH SECTION ITERATION */
.sixth-section {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 6rem;
  background-color: rgba(9, 103, 210, 1);
  color: white;
  padding: 3.313rem 2.688rem;
  border-radius: 1.5rem;
  margin-block: 20rem 6.25rem;
  position: relative;
}

.sixth-text-container {
  max-width: 35rem;
}

.sixth-header {
  font-weight: bold;
  font-size: 2.125rem;
  margin-block-end: 1.25rem;
  width: 100%;
}

.sixth-body {
  color: rgba(255, 255, 255, 1);
  margin-block-end: 1.25rem;
  width: 100%;
}

.sixth-image-container {
  position: absolute;
  bottom: -0.3rem;
  right: 5rem;
  max-width: 26.375rem;
}

.sixth-image {
  width: 100%;
}

/* FOOTER SECTION ITERATION */
footer {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(235, 244, 252, 1));
}

.footer-section {
  display: grid;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 6.25rem;
  margin-block-end: 6.25rem;
  margin-inline: 2rem;
  max-width: 80rem;
}

.footer-logo-text {
  max-width: 30rem;
}

.footer-main-text {
  color: rgba(55, 61, 67, 1);
  margin-block-start: 0.5rem;
  width: 100%;
}

.footer-bold-header {
  font-weight: bold;
  color: rgba(8, 18, 29, 1);
  margin-block-end: 1rem;
}

.about-talent-apply,
.products,
.pricing,
.blog,
.faq,
.contact-us,
.early-access,
.terms-and-conditions,
.privacy-policy {
  display: grid;
  text-decoration: none;
  color: rgba(55, 61, 67, 1);
  margin-block-end: 1rem;
}

.social-platforms {
  display: flex;
  gap: 1.5rem;
}

.footer-line {
  border: 0.031rem solid rgba(232, 237, 242, 1);
  margin-block: 2.5rem;
}

.footer-bottom-information {
  text-align: center;
  color: rgba(85, 89, 115, 1);
  padding-inline: 2rem;
}

.footer-final-line {
  padding-block-end: 5rem;
}

/* RESPONSIVE VIEW HEADER */
@media (max-width: 1238px) {
  header {
    display: block;
  }

  .header-nav-list {
    display: none;
  }

  .talent-apply-logo {
    margin-inline-end: auto ;
  }

  .header-second-section {
    display: none;
  }

  .menu-container {
    display: inline-block;
  }
}

/* RESPONSIVE VIEW FOR FOOTER */
@media (max-width: 800px) {
  .footer-container {
    flex-direction: column;
    gap: 2rem;
    margin-block-end: 2.5rem;
  }

  .footer-line {
    margin-block: 1rem;
  }

  .footer-section {
    justify-content: none;
  }
}

/* SIXTH SECTION RESPONSIVE VIEW */
@media (max-width: 1102px) {
  .sixth-header {
    font-size: 1.25rem;
  }

  .sixth-section {
    grid-template-columns: none;
    gap: 2rem;
    position: none;
    padding: 2rem 1rem;
    border-radius: 1.5rem;
    margin-block: 2rem;
  }

  .sixth-image-container {
    position: relative;
    bottom: 0;
    right: 0;
    max-width: none;
  }

  .sixth-button-container {
    display: grid;
    justify-content: center;
  }
}

/* BUTTON MEDIA QUARY  */
@media (max-width: 800px) {
  .outline-button-w-icon {
    padding: 1rem 4rem;
  }

  .filled-button {
    padding: 1.3rem 5.5rem;
  }

  .outline-button-black {
    padding: 1rem 5rem;
  }

  .outline-button-white {
    padding: 1rem 4rem;
  }
}