.home-trigger {
  background-color: rgba(9, 103, 210, 1);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home-trigger:hover {
  background-color: rgba(9, 103, 210, 0.8);
  color: white;
}

/* HERO SECTION ITERATION */
.hero-section {
  display: grid;
  justify-items: center;
  padding-block: 5.25rem;
  background: linear-gradient(rgba(192, 217, 242, 1), rgba(255, 255, 255, 0) );
  padding-inline: 2rem;
  max-width: 100%;
}

.hero-section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-block-end: 2.5rem;
}

.proof-image-container {
  display: flex;
  gap: 0.5rem;
}

.proof-image {
  margin-inline: -0.9rem;
}

.hero-body-small {
  margin-block-start: 0.125rem;
  font-size: 0.75rem;
  color: rgba(103, 115, 126, 1);
}

.hero-header-main-container {
  display: grid;
  gap: 2rem;
  text-align: center;
  max-width: 40rem;
  margin-block-end: 4.563rem;
  width: 100%;
}

.hero-header-text {
  font-size: 2.75rem;
  color: rgba(8, 18, 29, 1);
  margin-block-end: 1rem;
}

.hero-body-text {
  color: rgba(103, 115, 126, 1);
}

.hero-header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.hero-image-container {
  max-width: 71.188rem;
}

.hero-image {
  width: 100%;
}

/* MARGUE SECTION ITERATION */
.margue-section {
  display:grid;
  grid-template-columns: auto;
  justify-content: center;
  text-align: center;
  margin-block-end: 6.25rem;
}

.margue-header-text {
  color: rgba(85, 89, 115, 1);
  margin-block-end: 1.5rem;
}

.margue-logo-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

/* THIRD SECTION ITERATION */
.third-section-container {
  display: grid;
  background-color: rgba(9, 103, 210, 1);
  color: white;
  padding: 5.75rem 3.125rem;
  font-size: 1.625rem;
  text-align: center;
  border-radius: 1.5rem;
  margin-block-end: 6.25rem;
}

.colour-change-yellow {
  color: rgba(249, 231, 83, 1);
}

/* FOURTH SECTION ITERATION */
.fourth-section {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 3.125rem;
  margin-block-end: 6.25rem;
}

.fourth-section-container {
  max-width: 40rem;
}

.fourth-section-header {
  font-weight: bold;
  font-size: 2.125rem;
  color: rgba(8, 18, 29, 1);
  margin-block-end: 1rem;
}

.fourth-section-body {
  color: rgba(103, 115, 126, 1);
  margin-block-end: 1rem;
}

.list-body-text {
  color: rgba(157, 166, 175, 1);
  margin-block-end: 1rem;
}

.fourth-check-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.check-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  margin-block-end: 1rem;
}

.fourth-section-image-container {
  max-width: 28.938rem;
  text-align: end;
}

.fourth-section-image {
  width: 100%;
}

/* FIFTH SECTION ITERATION */
.fifth-section {
  display: grid;
  justify-content: center;
  margin-block-end: 4.375rem;
  /* background: linear-gradient(rgba(255, 255, 255, 0), rgba(232, 242, 252, 1), rgba(255, 255, 255, 0)); */
}

.fifth-section-main-container {
  display: grid;
  justify-items: center;
  gap: 6.25rem;
  margin-block-end: 4.375rem;
}

.fifth-section-header-container {
  display: grid;
  max-width: 30rem;
}

.fifth-section-header {
  font-weight: bold;
  font-size: 2.125rem;
  color: rgba(8, 18, 29, 1);
  margin-block-end: 1rem;
  text-align: center;
  width: 100%;
}

.fifth-section-body {
  color: rgba(103, 115, 126, 1);
  text-align: center;
  width: 100%;
}

.fifth-section-container-one {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2.875rem;
}

.fifth-section-container-two {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 2.875rem;
}

.fifth-header {
  font-weight: bold;
  font-size: 1.563rem;
  color: rgba(8, 18, 29, 1);
  margin-block: 0.75rem 0.5rem;
}

.fifth-body {
  color: rgba(103, 115, 126, 1);
  margin-block-end: 1.5rem;
}

.colour-change-blue {
  font-weight: bold;
  color: rgba(26, 119, 224, 1);
}

.fifth-image-container,
.fifth-image-container-middle {
  max-width: 36.5rem;
}

.fifth-image,
.fifth-image-middle {
  width: 100%;
}

/* SEVENTH SECTION INTERATION */
.seventh-section {
  display: grid;
  justify-content: center;
  gap: 2.5rem;
  margin-block-end: 6.25rem;
}

.seventh-section-container {
  display: grid;
  justify-items: center;
  gap: 0.625rem;
  /* margin-block-end: 2rem; */
}

.seventh-header {
  font-weight: bold;
  font-size: 2.125rem;
  color: rgba(8, 18, 29, 1);
  text-align: center;
}

.seventh-body {
  color: rgba(55, 61, 67, 1);
  text-align: center;
}

.review-container-main {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.review-container {
  display: grid;
  gap: 1rem;
  border-radius: 0.875rem;
  padding: 1.875rem;
  background-color: white;
  border: 0.031rem solid rgba(233, 234, 242, 1);
  box-shadow: 0 0 1.369rem rgba(4, 10, 51, 0.05);
}

.review-text {
  color: rgba(55, 61, 67, 1);
}

.review-image-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
}

.review-header {
  font-weight: bold;
  font-size: 1.25rem;
  color: rgba(8, 18, 29, 1);
}

.review-body {
  font-size: 0.75rem;
  color: rgba(103, 115, 126, 1);
}

.review-image {
  width: 2.625rem;
}

/* EIGHT SECTION ITERATION */
.eight-section {
  display: grid;
  justify-content: center;
  gap: 2.5rem;
  margin-block-end: 6.25rem;
}

.eight-section-container {
  display: grid;
  justify-items: center;
  gap: 0.625rem;
}

.eight-header {
  font-weight: bold;
  font-size: 2.125rem;
  color: rgba(8, 18, 29, 1);
  text-align: center;
}

.eight-body {
  color: rgba(55, 61, 67, 1);
  text-align: center;
}

.faq-main-container {
  display: grid;
  gap: 0.75rem;
}

.faq-container {
  display: grid;
  background-color: white;
  padding: 1.5rem;
  border: 0.031rem solid rgba(233, 234, 242, 1);
  box-shadow: 0 0 1.369rem rgba(27, 32, 32, 0.1);
  border-radius: 0.875rem;
}

.faq-container-one {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
}

.faq-container-header {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-block-end: 1rem;
  gap: 2rem;
}

.faq-container-text {
  font-size: 1.25rem;
  color: rgba(8, 18, 29, 1);
}

.faq-body {
  color: rgba(103, 115, 126, 1);
}

.faq-button-container {
  text-align: center;
}
