.blog {
  background-color: rgba(9, 103, 210, 1);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.blog:hover {
  background-color: rgba(9, 103, 210, 0.8);
  color: white;
}

/* FIRST SECTION ITERATION */
.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
  margin-block: 3.125rem 5rem;
  background-color: white;
  border: 0.031rem solid rgba(232, 237, 242, 1);
  border-radius: 2rem;
  padding: 2rem;
  cursor: pointer;
}

.second-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: center;
  gap: 1.875rem;
}

.blog-content-container {
  max-width: 35rem;
}

.blog-container {
  display: grid;
  gap: 2rem;
  background-color: white;
  border: 0.031rem solid rgba(232, 237, 242, 1);
  border-radius: 2rem;
  padding: 2rem;
}

.blog-header {
  color: rgba(8, 18, 29, 1);
  font-weight: bold;
  font-size: 2.125rem;
  margin-block-end: 0.75rem;
  width: 100%;
}

.blog-body {
  color: rgba(103, 115, 126, 1);
  margin-block-end: 0.75rem;
  width: 100%;
}

.blog-date-time-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.blog-dt {
  color: rgba(103, 115, 126, 1);
  font-size: 0.75rem;
  width: 100%;
}

.horizontal-divider {
  width: 0.01rem;
  height: 0.6rem;
  background-color: rgba(232, 237, 242, 1);
}

.blog-image-container {
  max-width: 36.25rem;
}

.blog-image {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-block-start: 3.75rem;
}

.pagination-numbers {
  display: flex;
  gap: 2rem;
}

.previous-button {
  background-color: rgba(184, 210, 238, 1);
  color: rgba(67, 140, 223, 1);
  padding: 0.625rem 1.375rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 0.03s ease-in-out;
}

.previous-button:hover {
  background-color: rgb(209, 224, 240);
}

.next-button {
  background-color: rgba(9, 103, 210, 1);
  color: white;
  padding: 0.625rem 1.375rem;
  border-radius: 0.75rem;
  cursor: pointer;
}

.next-button:hover {
  background-color: rgb(46, 130, 226);
}

.number-one {
  color: rgba(9, 103, 210, 1);
  cursor: pointer;
}

.numbers {
  color: rgba(157, 166, 175, 1);
  cursor: pointer;
}