.get-early-access {
  color: rgba(9, 103, 210, 1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.get-early-access:hover {
  color: rgba(29, 122, 228, 0.8);
}

/* HERO SECTION ITERATION */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(9, 103, 210, 1);
  padding-block: 5.25rem;
  margin-block: 1.25rem 8.125rem;
  border-radius: 1.5rem;
}

.hero-section-container {
  display: grid;
  justify-content: center;
}

.hero-header-text-container {
  display: grid;
  gap: 1rem;
  margin-inline: 2.5rem;
  max-width: 40rem;
  margin-block-end: 3.75rem;
}

.hero-header-text {
  font-size: 2.125rem;
  color: white;
  text-align: center;
}

.hero-body-text {
  text-align: center;
  color: rgba(184, 210, 238, 1);
}

.form-container {
  display: grid;
  margin-inline: 2.5rem;
  padding: 3.75rem;
  border-radius: 1.5rem;
  background-color: white;
}

.fl-name-container {
  display: flex;
  gap: 1.5rem;
}

input {
  width: 100%;
  background-color: transparent;
  border: 0.031rem solid rgba(157, 166, 175, 1);
  padding: 0.938rem 0.625rem;
  border-radius: 1rem;
}

label {
  color: rgba(8, 18, 29, 1);
}

.f-name,
.l-name {
  width: 100%;
}

.inactive-button-container {
  display: grid;
  justify-content: end;
  margin-block-start: 1.5rem;
}

.inactive-button {
  background-color: rgba(184, 210, 238, 1);
  color: rgba(67, 140, 223, 1);
  border: 0 solid;
  padding: 0.625rem 3.75rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 0.03s ease-in-out;
}

.inactive-button:hover {
  background-color: rgb(204, 221, 240);
  color: rgb(89, 154, 230);
}

/* SECOND SECTION ITERATION */
.second-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2.875rem;
}

.second-section-container {
  display: grid;
  gap: 1.5rem;
  margin-block-start: 1.5rem;
  max-width: 30rem;
}

.second-section-header {
  font-weight: bold;
  color: rgba(8, 18, 29, 1);
  font-size: 2.75rem;
  line-height: 3rem;
  width: 100%;
}

.second-section-body,
.second-section-body-two {
  color: rgba(103, 115, 126, 1);
  width: 100%;
}

.wtg-main {
  display: grid;
  gap: 1.5rem;
}

.wtg-container{
  display: grid;
  gap: 1.5rem;
  padding: 1.875rem 2.625rem;
  border-radius: 1rem;
  border: 0.031rem solid rgba(232, 237, 242, 1);
  box-shadow: 0 0.25rem 0.938rem rgba(27, 32, 32, 0.05);
}

.wtg-header {
  font-weight: bold;
  font-size: 1.625rem;
  color: rgba(8, 18, 29, 1);
}

.wtg-body {
  color: rgba(103, 115, 126, 1);
  font-size: 0.875rem;
}


