@media (max-width: 1071px) {
  .yellow-star {
    left: -2rem;
  }
}

@media (max-width: 800px) {
  .hero-section {
    padding-block: 2.5rem;
  }

  .hero-header-text {
    font-size: 1.625rem;
  }
  
  .third-section-container {
    margin-block-end: 3rem;
  }

  .text-container-final {
    grid-template-columns: none;
    padding: 1.5rem 1.5rem;
    gap: 1.5rem;
  }

  .third-section-header-container {
    max-width: none;
  }

  .yellow-star {
    left: -1rem;
  }

  .green-star {
    display: grid;
    justify-content: end;
    position: relative;
    bottom: 3rem;
    left: 1.5rem;
  }

  .fourth-section {
    margin-block-end: 3rem;
  }

  .fourth-container-header {
    font-size: 1.625rem;
  }

  .fourth-key-feature-container-main {
    grid-template-columns: none;
  }

  .fifth-section {
    grid-template-columns: none;
    gap: 2rem;
    margin-block-end: 5rem;
  }
}