@media (max-width: 800px) {
  .hero-section {
    margin-block-end: 1.5rem;
  }
  
  .hero-header-text {
    font-size: 1.25rem;
  }

  .left-selector-container {
    display: none;
  }

  .second-section {
    grid-template-columns: none;
    gap: 2.125rem;
  }

  .drop-down-selector {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1rem 1.25rem;
    background-color: white;
    border-radius: 0.625rem;
    border: 0.031rem solid rgba(233, 234, 242, 1);
    box-shadow: 0 0 1.369rem rgba(4, 10, 51, 0.05);
  }
}